.card-border {
    -fx-border-color: #000000;
    -fx-border-width: 2;
    -fx-border-style: solid;
}

.card_TextField {
    -fx-text-fill: #02040F;
    -fx-font-size: 14px;
}

.card_TextFieldBold {
    -fx-text-fill: #02040F;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}